/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

button {
    font-family : inherit;
}

/* Style tab links */
.tablink {
  background-color: black;
  color: white;
  float: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 10px;
  font-size: 18px;
  width: 17%;
  line-height: 50px;
}

.tablink:hover {
  background-color: #555;
}

#defaultOpen:hover {
  background-color: black;
}
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 0px 0px;
  height: 100%;
}


#Home {background-color: black;}
#Rosters {background-color: white;}
#DepthCharts {background-color: white;}
#Injuries {background-color: white;}
#FreeAgents {background-color: white;}

.responsive {
  width: 100%;
  height: auto;
}

.header {
  background-color: black;
  width: 100%;
  height: 80px;
  padding: 0px 0px;
  position: fixed;
  top: 0;
}

.headerimage {
  float: left;
  height: 80px;
}

.headercontent {
  padding-left: 30px;
  float: left;
  height: 80px;
  line-height: 80px;
  color: white;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  font-size: 48px;
  font-weight: 900;
  transform: scale(1, 0.65);
}

.main {
  margin-top: 80px;
}

.homecontent {
  color: white;
  display: none;
  padding: 0px 0px;
  width: 100%;
  height: 100%;
}

#bgHome {
  background-color: black;
  padding: 0px 0px;
  width: 100%;
  height: 100%;
  background: url(img/simworld-nba-header.png);
  background-size: cover;
}

#preload-01 { background: url(img/simworld-nba-logo.png) no-repeat -9999px -9999px; }
#preload-02 { background: url(img/simworld-nba-header.png) no-repeat -9999px -9999px; }